// Fonts
@import url('https://fonts.googleapis.com/css?family=Inter');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.card {
    border: 1px solid black;
}

.card-header, .card-body, .card-footer {
    background-color: white !important;
    border: none !important;
}

.card-header {
    padding: 1rem;
    padding-bottom: 0 !important;
}

.card-body {
    padding: 1rem
}

.form-control {
    border: 1px solid black;
    color: black;
}

.modal-header, .modal-body, .modal-footer {
    border: none !important;
}
